################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetWebApplicationDemo/.vs/AspNetWebApplicationDemo/v16
